.descriptionbox-nav-box {
  border: 1px solid #d0d0d0;
}
.descriptionbox-nav-box.far {
  background: #fbfbfb;
  color: #555;
}
.descriptionbox-descript {
  display: flex;
  flex-direction: column;
  gap: 26px;
  border: 1px solid #d0d0d0;
  padding: 48px;
  padding-bottom: 70px;
}
