@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
.contain {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.cartitems-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cartitems-promobox {
  width: 504px;
}

.bg-custom-gradient {
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}
.navigation-dropdown.open {
  transform: rotate(0deg);
}
.nav-menu-visible {
  display: flex;
  position: fixed;
  margin-top: -400px;
  height: 140vh;
  width: 100%;
  z-index: 0;
}

.flex-center-all {
  @apply flex justify-center items-center;
}
.hr-navigation {
  @apply border-none w-full h-1 rounded-lg bg-red-500;
}
.productDisplay-size {
  @apply py-4 px-6 bg-white border border-solid border-[#ebebeb] rounded-sm cursor-pointer;
}
