.proddis-main-img {
  display: block;
  width: 686px;
  height: 690px;
}
.proddis-right-size .size {
  padding: 18px 24px;
  background-color: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
}
